Options -Indexes
RewriteEngine On
RewriteRule (^|/)(\.env|\.git|composer\.(json|lock)|package(-lock)?\.json)$ - [F,L]
RewriteRule ^uploads/(.+\.php)$ - [F,L,NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
